.task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: .7rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .4rem;
  min-height: 6rem;
  padding: .5rem .7rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: 6rem;
}